* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu {
  height: 100px;
  background-color: #B2D6FF;    /* Medium blue */
}
.sidebar {
  height: 300px;
  float: left;
  width: 200px; 
  background-color: #F09A9D;    /* Red */
}
.content {
  width: 650px;
  float: left;
  height: 500px;
  background-color: #F5CF8E;    /* Yellow */
}
.footer {
  clear: both;
  height: 200px;
  background-color: #D6E9FE;    /* Light blue */
}
.page {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #EAEDF0;
  border: 1px solid red;
}
